.aheader{
    text-align: center;
    margin-top: 5%;
    font-size: 150%;
}
.app{
    font-family: 'Courier New', Courier, monospace;

}
.timer {
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    text-align: center;
    padding-left: 50%;
    width: 50%;
  }
  .time {
    font-size: 32px;
  }
.box{
    text-align: center;
    width:100%;
    display: flex;
    
}
.column1{
      display: inline-block;
      margin:0 auto;
      border-right-color: rgb(11, 11, 163);
      border-right-style: solid;
      flex: 50%;
  }
  
  .column2{
    display: inline-block;
    margin:0 auto;
    border-left-color: rgb(11, 11, 163);
  border-left-style: solid;
  flex: 50%;
  

}
.shadow-box-example,.green{
  display: inline-block;
  border-style: solid;
  border-color: rgb(230, 223, 223);
  border-radius: 10%;
  width: 75%;

  
}
/* .shadow-box-example{
  z-index: 1;
  position: absolute;
} */
  .row{
      display: flex;
  }
  .col{
      flex:33%
  }

  header{
    margin-bottom: 10%;
  }
  .ic{
    text-align: center;


  }
  ul{
    padding-top: 10%;
    display: inline-block;
  }
  .ibox2{
    padding-top: 5%;
  }
  h4{
    color:gray;
  }
 