.aheader{
    text-align: center;
    padding-top: 5%;
    font-size: 150%;
}
.App{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-image: linear-gradient(rgb(54, 149, 300),white);
    position: fixed;
    width: 100%;
    height: 100%;

}
.timer {
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    text-align: center;
    padding-left: 50%;
    width: 50%;
  }
  .time {
    font-size: 32px;
  }
.box{
    text-align: center;
    width:100%;
    display: flex;
    
}
.column1{
      display: inline-block;
      margin:0 auto;
      
      
      flex: 50%;
  }
  
  .column2{
    display: inline-block;
    margin:0 auto;
    
  flex: 50%;
  

}
.shadow-box-example,.green,.ic{
  display: inline-block;
  border-style: solid;
  border-color: rgb(230, 223, 223);
  border-radius: 2%;
  width: 75%;
  background-color: whitesmoke;

  
}
/* .shadow-box-example{
  z-index: 1;
  position: absolute;
} */
  .row{
      display: flex;
      text-align: center;
  }
  .col{
      flex:33%
  }

  header{
    margin-bottom: 5%;
  }
  .ic{
    text-align: center;
    background-color: whitesmoke;
    height: 100%;

  }
  .rowr{
    display: flex;
    height: 50%;


  }
  .colr{
    flex:50%;
    height: 100%;
    border-radius: 1%;
    background-image: 
linear-gradient(to top, #A72424 0%, transparent 0%);
-webkit-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
-moz-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
-ms-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
-o-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
  }
  .colr:hover {color: white;
    border-color: #A72424;
    background-image: 
    linear-gradient(to top, lightblue 100%, transparent 100%);
    background-position: 0 100%;
    -webkit-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    -moz-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    -ms-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    -o-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    }
    
   
    
    a:active {color: white;}
  .incol{
    padding-top: 50px;
    justify-items: center;
    align-items: center;
    height: 100%;
    width:100%;
    font-size: 20px;
  }
  
  .ibox2{
    padding-top: 5%;
  }
  h4{
    color:gray;
  }
 